<div class="container">
<form class="form-signin" action="/topics/creater" method="post">
    <h2 class="form-signin-heading">Create topic :</h2>
    <input type="text" name="number" placeholder="number">
    <br>
    <input type="text" name="name" placeholder="name">
    <br><br>
    <input type="submit" value="Create !!">
</form>
</div>